<!DOCTYPE html>
<html>
  <head>
    <title>Sentence Checker</title>
  </head>
  <body>
    <form action="/results" method="post">

      <label>Enter a word:</label>
      <input type="text" name="input1" required>

      <label>Enter sentence you'd like to check for that word:</label>
      <input type="text" name="input2" required>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
