<!DOCTYPE html>
<html>
  <head>
    <title>Sentence Checked</title>
  </head>
  <body>
    <p>Your word was found {{ matches }} times in that sentence.</p>

    <a href="/"><button name="button" >Check again.</button></a>
  </body>
</html>
